doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  title Home Page
header
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/author') Author
    .mx-auto.order-0
      a.navbar-brand.mx-auto(href='#') Weather Clother
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='.dual-collapse2')
        span.navbar-toggler-icon
    .navbar-collapse.collapse.w-100.order-3.dual-collapse2
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/register') Sign Up
main(role='main')
  // Main jumbotron for a primary marketing message or call to action
  .jumbotron
    .container
      h1.display-3 Welcome to Weather-Clother
      p
        | Weather-Clother is a weather-based clothes suggestion engine written in JavaScript
      p
        a.btn.btn-primary.btn-lg(href='/register' role='button') Sign Up &raquo;
  .container
    // Example row of columns
    .row
      .col-md-4
        h2 How It Works
        p
          | Weather-Clother retrieves your local weather information daily. Post that, it uses a recommendation engine
          | that takes into account all of your local weather based parameter and emails you a list of suggested clothes for day in the morning.
        p
          | This reduces your need to make decisions regarding clothing for the day and automates that task giving you more time to do things that matter.
      .col-md-4
        h2 Technology Stack
        p
          | Weather-Clother is primarily written in JavaScript. It is built using Node.js, utilizing Express.js a the back-end framework.
        p
          | Database at this point is done using File I/O. It will soon be migrated to MongoDB using Mongoose. Email functionality is added using
          | Nodemailer as a third party package. Front-End is done using Vanilla HTML, CSS and with the help of Bootstrap 4.
      .col-md-4
        h2 OpenWeatherMap API
        p
          | Weather-Clother works in tandem with the OpenWeather API. It is the main source of weather information.
        p
          a.btn.btn-primary.btn-lg(href='https://openweathermap.org/api' role='button') Learn More &raquo;
    hr
  // /container
footer.footer.mt-auto.py-3
  .container
    span.text-muted Built By Shreyas Kharbanda
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
