.alignment {
    margin: 10%;    
}

.text {
    text-align: center;
    font-size: 75px;;
}

.center-button {
    text-align: center;
}

.quote {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}